<div class="row">
  <div class="col-xs-12">
    <h1 ng-model="page.heading">{{ page.heading }}</h1>
  </div>
  
  <div class="col-xs-12" ng-controller="ImageController">
    <div ng-if="(+page.images.length > 0)">
      <div>
        <carousel interval="myInterval">
          <slide ng-repeat="image in page.images" active="slide.active">
            <img ng-src="uploads/{{ image.filename }}" style="margin:auto;"/>
            <div class="carousel-caption">
              <h4></h4>
              <p></p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <div ng-if="(+page.images.length <= 0)" ng-file-drop="onFileSelect($files, page)" ng-file-drag-over-class="optional-css-class">
      <img class="img-rounded img-responsive" ph-img="1200x400" ph-txt="Drop image here"/>
    </div>
  </div>
</div>

<div class="row">
  <div ng-controller="TextController">
    <div class="col-md-{{ 12 / page.texts.length }}" ng-repeat="text in page.texts" ng-if="(+page.texts.length > 0)">
      <p ng-model="text.description">{{ text.description }}</p>
      <p ng-if="(+text.description.length <= 0)" ng-model="text.description" ph-txt="{{ numCombined }}"></p>
    </div>
  </div>
</div>